@import '../../properties';
.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.9rem;
   .textContainer{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    max-width: 180px;
    .accountName{
        font-weight: 900;
        margin-bottom: 5px;
        &:hover{
            cursor: pointer;
        }
    }
    .caption{
        color: $font-color-secondary;
        &.small{
            font-size: 0.8rem;
        }
    }
   }
   .urlText{
    font-weight: 900;
    margin-left: 1rem;
   }
}