@import '../../properties';

.suggestions{
margin: 1rem 0;
.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    .title{
        color: $font-color-secondary;
        font-size: 0.85rem;
        font-weight: 900;
    }
}
.seeall{
    color: $font-color-primary;
    font-size: 0.85rem;
}
}