@import './properties';
main{
    background-color: $background-white;
    margin-top: 60px;
    .container{
        display: flex;
        justify-content: left;
        margin: 0 auto;
        max-width: 1000px;
    }
    a{
        text-decoration: none;
        color: $link-color;
    }
}